:root {
    --heder-contact-color.-- # FFFFFF --
}

body {
  font-family: Roboto, sans-serif;
}
.list {
    list-style: none;
}
{text-decoration:none;
}
/*header*/

.heder{
    position: absolute;
width: 1600px;
height: 80px;
left: 0px;
top: 0px;
background: #FFFFFF;
}
.header-link {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
   letter-spacing: 0.03em;
  color: #2196f3;
}
.heder-link-studio  
{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: black;
}
.header-link-line {
  
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.header-link-contact {
    font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.header-link-mailto {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}
var()
.header-link-mailto :hover,
.header-link-mailto :focus {}
.header-link-tel {
  
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
/*main*/

.title{
 font-weight: 900;
font-size: 44px;
line-height: 1.36;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}
.btn{
font-weight: bold;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
 }
 .btn{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
        background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
 }
    
    /*Особенности работы*/

    .work-title{
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.work-text{
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}
/*Чем мы занимаемся*/
.hero-title{
font-weight: bold;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
/*Наша команда*/
.about-title{
font-weight: bold;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.about-title-name{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.about-text-profession{
font-weight: normal;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}
/*footer*/
.footer-link{
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
}
.footer-link-studio{
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: rgb(204, 185, 185);
}
.footer-address{
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.84;
letter-spacing: 0.03em;
color:  #FFFFFF;
}
.footer-contact{
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:  #FFFFFF;
}
.footer-tel{
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}